.blured-box {
    display: inline-flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 1230px;
    height: 590px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 5px 15px 35px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
    border-radius: 26px;
}

.page-title {
    font-family: 'Comfortaa', cursive;
    font-size: 115px;
    font-weight: 700;
    color: #ffffff;
}

.-b2 {
    height: 570px;
    width: 1570px;
    margin-left: -350px;
}