.blured-box {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 5px 15px 35px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 26px;
}

.-b1 {
    display: inline-flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 1230px;
    height: 590px;
    margin-top: 50px;
}

.page-title {
    font-family: 'Comfortaa', cursive;
    font-size: 115px;
    font-weight: 700;
    color: #ffffff;
}

.-b2 {
    display: inline-flex;
    height: 570px;
    width: 1290px;
    margin-left: -20px;
}

.-b2 .title {
    margin-top: 100px;
    margin-left: 100px;
}

.-b3 {
    display: inline-flex;
    position: absolute;
    height: 668px;
    width: 981px;
    left: 28.26%;
    right: 3.61%;
    top: 18.69%;
    bottom: 24.55%;
    z-index: 1;
}