.carousel {
    position: absolute;
    display: inline-flex;
    margin-left: 65px;
    margin-top: 90px;
    box-sizing: border-box;
    width: fit-content;
}

.-cItem {
    margin-left: 5px;
    margin-right: 5px;
    width: 380px;
    height: 380px;
}