.first-section {
    display: inline-flex;
    width: 100%;
    height: 810px;
    background-color: #090030;
    margin-top: -10px;
}

.ornament {
    position: absolute;
    margin-left: 770px;
    margin-top: 150px;
}

.ilu {
    position: absolute;
}