.form {
    text-decoration: black;
}

.form-input {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 5px 15px 35px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 26px;
}