.section {
    display: inline-flex;
    width: 100%;
    height: 810px;
    background-color: #090030;
}

.-first {
    margin-top: -10px;
}

.-first .ornament {
    position: absolute;
    margin-left: 770px;
    margin-top: 100px;
}

.-second {
    margin-top: -10px;
    height: fit-content;
}

.-second .title {
    position: absolute;
    margin: -81px auto auto 422px;
    font-size: 48px;
    font-weight: 500;
}